@use '../helpers/mixin' as *;

.main.main-veiw {
	padding-top: 5rem;
	.nav-link.active {
		color: black !important;
		font-weight: 600;
	}
	.sessions {
		border-bottom: 2px solid black !important;
	}
}
